.boton-1{
    border-radius: 10px;
    padding-top: 0.2%;
    padding-bottom:0.2%;
    border-color: transparent;
    background-color: red;
    color: white;
}
.boton-2{
    border-radius: 10px;
    padding-top: 0.2%;
    padding-bottom:0.2%;
    border-color: transparent;
    background-color: blue;
    color: white;
}

.color-1{
    color: green;
}

.color-2{
    color: red;
}
.color-3{
    color: blue;
}